/* .blogwrap {
    width: 370px;
    display: inline-block;
    height: auto;
    border: 10px solid darkcyan;
    padding: 10px;
    margin: 10px;
    background-color: darkorchid;
    
}
.body {
    background-color:goldenrod;
} */
